.bg-container {
  background-color: white;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 50%;
  background-color: red;
}
